
.visor {
    align-items: center;    
}

model-viewer {
    width: auto;
    height: 90vh;
    border-radius: 1em;
    border-style: solid;
    border-color: rgb(10, 0, 77);
    margin: 1em 1em;

}
